
    <footer class="page-footer font-small fixed-bottom bg-secondary">
        <div class="text-nowrap py-1"><i>Copyright &copy; 2022 <%= my_info.name %></i></div>
    </footer>
</body>
</html>
