<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />

  <script src="/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light bg-gradient">
    <img src="/img/icon.png", height="40">
    <div class="navbar-brand">Yuk Ming Siu</div>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-item-project" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Me</a>
            </li>
        </ul>
    </div>
    </nav>
    <br>
    <script>
        // show active nav item
        $(document).ready(() => {
            $(`a[href$="${window.location.pathname}"]`).addClass('active');
        });
    </script>
    
