<% include _header %>

<div class="container">
  <form action="/contact/submit" method="post">
    <label for="firstname" class="form-label">First name</label>
    <input type="text" class="form-control" name="firstname">
    <label for="lastname" class="form-label">Last name</label>
    <input type="text" class="form-control" name="lastname">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email">
    <label for="message" class="form-label">Leave me some messages :)</label>
    <textarea name="message" class="form-control" ></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<% include _footer %>
