<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <meta http-equiv="refresh" content="0; url='/'" />
    <script>
      alert('Thanks for your message, <%= contact_info.firstname %> <%= contact_info.lastname %>\n\nI will reply you soon.');
    </script>
  </head>
  <body>
  </body>
</html>
