<%- include('partials/header') %>

<main class="container">
  <h1 style="font-family:Consolas;">Rather die than give up!</h1>
  <p>
    It is always one step away from the goal.<br>
    <br>
    Making software is not romantic. It needs endurance, patience and techniques.<br><br>
    I enjoy building software since middle school, from assembly instructions to tablet operating systems.<br>
    <br><br>
    <a href="/about">Learn more about me.</a>
  </p>
</main>

<%- include('partials/footer') %>
