<%- include('partials/header') %>

<main class="container">
    <h1 class="main-caption"><%= title %></h1>
    
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p>
                    <img src="./img/self.jpg" width="150px">
                </p>
                <p class="text-center" >
                    <i class="bi bi-file-person"></i>
                    <a href="/Resume-SiuYukMing-20220928.fakeaddr.pdf">My Resume</a>
                </p>
            </div>
            <div class="col-md-auto">
                <h3>Yuk Ming Siu, Vic</h3>
                <h4>Embedded System Developer</h4>
                <p>Software is a toy for me, making it and tweaking it makes me happy!</p>
                <p>I created a Blackjack game on a 
                    <a href="https://www.calculator.org/calculators/Casio_fx-3600P.html">Casio fx-3600P</a> calculator in middle school, 
                    my classmates got punished for addicting to the game.<br>
                    <i>Don't tell my teachers.</i> 😉
                </p>
                <p>I am keen on travelling, talking to local people and visiting the local market are exciting to me.</p>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer') %>

