<%- include('partials/header') %>

<main class="container">
  <h1 class="main-caption"><%= title %></h1>
  <br>
  <p class="font-italic">"It is always one step away from the goal."</p>
  <p>Making software is not romantic. It needs endurance, patience and techniques.</p>
  <p>I enjoy building software since middle school, from assembly instructions to Android operating systems.</p>
  <br>
  <br>
  <p><a href="/about">Learn more about me.</a></p>
</main>

<%- include('partials/footer') %>
